:root {
    --yellow: #F8BD00;
    --yellowhover: #f4cb47;

    --white: #ffffff;
    --hash:#DAD9D9;
    --shadow:0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }

  .body-container::after
  {
content: '';
position: absolute;
width: 1200px;
height: 1200px;
border-radius: 50%;
top: -100px;
left: -500px;
background-color: var(--yellow);
z-index: -2;




  }
  .body-container::before
  {
content: '';
position: absolute;
width: 1200px;
height: 1200px;
border-radius: 50%;
bottom: -1500px;
right: -500px;
background-color: var(--yellow);
z-index: -2;
background-position: fixed;



  }
  .body-container{




  }